* {
    margin: 0;
    padding: 0;
    font-family: "Assistant", sans-serif;
    background-color: rgb(255, 255, 255);

}
body{
    font-family: "Assistant", sans-serif;
}



header {
    width: 100%;
    height: 80px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 4px 12px 0px rgba(163, 161, 161, 0.5);
    display: flex;


}

.logo img {
    height: 20px;
    width: 53px;
    margin-left: 40px;
    /* border: 1px solid red ; */
}

a {
    text-decoration: inherit;
    color: inherit;
}
nav {
    font-family: "Assistant", sans-serif;
    font-weight: bold;
    position: sticky;
    background-color: transparent;
    top: 0px;
    height: 62px;
    display: flex;
    align-items: center;
    padding: 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .left {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .left ul {
    display: flex;
    list-style: none;
    align-items: center;
  }
  .left ul li {
    font-family: "Assistant", sans-serif;
    padding: 0px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .3px;
    color: #090909;
    line-height: 70px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
  }
  


.search-container {
    padding-top: 24px;
    margin-left: 38px;
    gap: 20px;
    float: left;
    height: 5px;
    width: 5px;
    margin-right: 390px;
}

.item {
    display: flex;
    float: left;
    gap: 30px;
    /* padding-left: 370px;
    margin-top: 25px; */



}

.items {

    text-align: center;
    font-weight: bold;
    margin-right: 8px;

}

.search-container input {
    background: transparent;
    border: none;
    border-radius: 10px;
    outline: none;

}

.top-img {
    margin-top: 15px;
    height: 100px;
    width: 100%;
    box-shadow: 0px 4px 12px 0px rgba(163, 161, 161, 0.5);
}

.second-img {
    display: flex;
    left: -50px;
    float: left;


}

.left-img,
.right-img {
    /* border: 1px solid blue; */
    float: left;
}

.coupen img {
    padding-top: 20px;
}

.offer {
    display: flex;
}

.offer-left img {
    width: 660px;
    height: 137px;
}

.offer-right img {
    width: 660px;
    height: 137px;
}

.omg img {
    height: 120px;
    width: 100%;
    border: 2px solid black;
}

.pics-one img {
    display: flex;
    float: left;
    width: 265px;
    height: 400px;
}

.shop h1 {
    text-align: center;
    padding-top: 20px;
    font-size: bold;
}

.allpic-page img {

    float: left;
    width: 223px;
    height: 320px;

    cursor: pointer;

}

footer {

    height: 55px;

    background-color: transparent;
    padding-top: 28px;
    font-size: 14px;
    color: #696b79;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    letter-spacing: .3px;
}
span{
    color:red;
}
 .navbar{
    height: 15px;
    background: transparent;
    font-weight: bold;
    font-family: "Assistant", sans-serif;

}

footer a {
    cursor: pointer;
    color: #696b79;
    text-decoration: none;
    font-weight: 500;
}

.right {
    display: flex;
    align-items: center;
    width: 100%;
}

.right input {
    font-size: 14px;
    height: 20px;
    line-height: 24px;
    width: 60%;
    color: #696e79;
    padding: 8px 10px 10px;
    outline: 0;
    border: 1px solid #f5f5f6;
    border-radius: 4px 4px 4px 4px;
    background: #f5f5f6;
}

.icons {
    display: flex;
    margin: 0px 42px;
}

.profile,
.wish,
.bag {
    color: #000;
    font-size: 14px;
    font-weight: 800;
    padding: 0px 13px;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding-left: 220px;
    padding-right: 220px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.online-shopping {
    text-align: left;
    margin-right: 50px;
}

.customer-policies {
    text-align: left;
    margin-right: 50px;
}

.app {
    text-align: left;
    margin-right: 90px;
}

.row-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;

}

.content-heading {
    color: black;
    font-weight: 600;
    letter-spacing: normal;
}

.content-box {
    line-height: 1.6;
}

.para-content {
    margin-top: 25px;
    margin-bottom: 40px;
}

.copyright-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.horizontal-line {
    margin-bottom: 30px;
    opacity: 0.2;
    height: 0.3px;
}

.office-address-content {
    opacity: 0.9;
    margin-bottom: 30px;
}

.other-info-heading {
    font-weight: 600;
    letter-spacing: normal;
    color: black;
    font-size: 15px;
    opacity: 0.8;

}

.other-info-para-content {
    margin-top: 8px;
    margin-bottom: 30px;
    font-size: 13px;
    opacity: 0.8;
}

.Google-play {
    background-repeat: none;
    margin-right: 10px;

}

.App-Store {
    background-repeat: none;

}

.download-button {
    display: flex;
    margin-top: 30px;
}

.download-button img {
    width: 130px;
    height: 40px;
}

.original {
    margin-bottom: 30px;
    color: black;
    opacity: 0.8;

}

.customer-satisfaction {
    margin-bottom: 30px;
}

.social-links {
    margin-top: 12px;
}

.fb-icon {
    margin-right: 6px;
}

.tw-icon {
    margin-right: 6px;
}

.yt-icon {
    margin-right: 6px;
}

